<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
    $CSS_LINKS$
    <title>$TAB_TITLE$</title>
</head>
<body>
    <nav id="nav">
        <div id="logo-box">
            <a href="/"><span id="logo1">Node.js</span><span id="logo2">Course</span></a>
        </div>
        <label for="toggle-nav" id="toggle-btn">&#9776;</label>
        <div id="nav-links">
            <ul>
                <a href="/feb2nd">Feb 2nd</a>
            </ul>
            <ul>
                <a href="/feb9">Feb 9th</a>
            </ul>
            <ul>
                <a href="/feb16">Feb 16th</a>
            </ul>
            <ul>
                <a href="/feb23">Feb 23th</a>
            </ul>
            <ul>
                <a href="/mar1">Mar. 1st</a>
            </ul>
            <ul>
                <a href="/mar8">Mar. 8th</a>
            </ul>
            <ul>
                <a href="/mar15">Mar. 15th</a>
            </ul>
        </div>
    </nav>
    <main>